<div class="site-wrapper">
    <div class="top">
        <h2>{{username}}'s dashboard</h2>
        <input type="hidden" id="userID" value={{id}}>

        <nav id="navigation">
            <a href="/dashboard" class="nav-link active">Home</a> |
            <a href="/edit" class="nav-link">Edit</a> |
            <!--<a href="/settings" class="nav-link">Settings</a> |-->
            <a href="/faq" class="nav-link">FAQ</a>
        </nav>
    </div>

    <div class="bottom">
        <header id="head">

            <button class="prev">Prev</button>
            <!--<form method="post" action="/prev" class="dayNavForm">-->
            <!--<input type="submit" value="prev">-->
            <!--</form>-->

            <h1 id="weekday">{{weekday}}</h1>

            <button class="next">Next</button>

            <!--<form method="post" action="/next" class="dayNavForm">-->
            <!--<input type="submit" value="next">-->
            <!--</form>-->
        </header>

        <article id="todaysSchedule">
            {{#if movies}}
                <table id="scheduleTable">
                    <tbody>
                    <tr>
                        <th>Shows</th>
                        <th>Links</th>
                        <th>Extra</th>
                    </tr>

                    {{#each movies}}
                        <tr>
                            <td>{{title}} {{printSeasonEpisode this}}</td>
                            <td>
                                <button type="button" class="imdb" value={{_id}}>IMDb</button>
                                <button type="button" class="subs" value={{_id}}>Subs</button>
                                <button type="button" class="DL" value={{id}}>DL</button>
                                <!--<input type="button" class="imdb" value="IMDb">-->
                                <!--<input type="button" name=value="Subs">-->
                                <!--<input type="button" value="DL">-->
                            </td>
                            <td class="latestEpisode">
                                <input type="hidden" value={{id}}>

                            </td>

                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <a href="/edit">Add more?</a>
            {{else}}
                <p>You have nothing listed!</p>
                <a href="/edit">Add some?</a>
            {{/if}}
        </article>


    </div>

</div>