<h2>{{username}}'s Dashboard</h2>

<nav id="navigation">
    <a href="/dashboard">Home</a>
    <a href="/edit">Edit</a>
    <a href="/add">Add</a>
    <a href="/settings">Settings</a>
    <a href="/faq">FAQ</a>
</nav>

<header id="head">
    <form method="post" action="/prev" class="navButton">
        <input type="submit" value="prev">
    </form>

    <h1 id="weekday">{{weekday}}</h1>

    <form method="post" action="/next" class="navButton">
        <input type="submit" value="next">
    </form>
</header>


{{#if movies}}
<table>
    <tr>
        <th>Shows</th>
        <th>Links</th>
    </tr>

    {{#each movies}}
        <tr>
            <td>{{title}} {{printSeasonEpisode this}}</td>
            <td>
                <button type="button" class="imdb" value={{_id}}>IMDb</button>
                <button type="button" class="subs" value={{_id}}>Subs</button>
                <button type="button" class="DL" value={{id}}>DL</button>
                <!--<input type="button" class="imdb" value="IMDb">-->
                <!--<input type="button" name=value="Subs">-->
                <!--<input type="button" value="DL">-->
            </td>

        </tr>
    {{/each}}
</table>
<a href="/add">Add more?</a>
{{else}}
    <p>You have nothing listed!</p>
    <a href="/add">Add some?</a>
{{/if}}


<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Custom script -->
<script src="/javascripts/links.js"></script>