<div class="site-wrapper">
    <div class="top">
        <h2>EDIT</h2>
        <nav id="navigation">
            <a href="/dashboard" class="nav-link">Home</a> |
            <a href="/edit" class="nav-link">Edit</a> |
            <!--<a href="/settings" class="nav-link">Settings</a> |-->
            <a href="/faq" class="nav-link">FAQ</a>
        </nav>

        <!-- SCHEDULE VIEWER! -->
    </div>

    <div class="bottom">
        <div id="scheduleView">
            {{#if username}}

                <table>

                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                    <tr>
                        <!-- Monday -->
                        <td>
                            <ul>
                                {{#each movies}}
                                    {{#ifDay this.day "Monday"}}
                                        <li><button class="remove" value={{_id}}>(-)</button> {{title}} {{printSeasonEpisode this}} </li>
                                    {{/ifDay}}
                                {{/each}}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{#each movies}}
                                    {{#ifDay this.day "Tuesday"}}
                                        <li><button class="remove" value={{_id}}>(-)</button> {{title}} {{printSeasonEpisode this}}</li>
                                    {{/ifDay}}
                                {{/each}}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{#each movies}}
                                    {{#ifDay this.day "Wednesday"}}
                                        <li><button class="remove" value={{_id}}>(-)</button> {{title}} {{printSeasonEpisode this}}</li>
                                    {{/ifDay}}
                                {{/each}}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{#each movies}}
                                    {{#ifDay this.day "Thursday"}}
                                        <li><button class="remove" value={{_id}}>(-)</button> {{title}} {{printSeasonEpisode this}}</li>
                                    {{/ifDay}}
                                {{/each}}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{#each movies}}
                                    {{#ifDay this.day "Friday"}}
                                        <li><button class="remove" value={{_id}}>(-)</button> {{title}} {{printSeasonEpisode this}}</li>
                                    {{/ifDay}}
                                {{/each}}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{#each movies}}
                                    {{#ifDay this.day "Saturday"}}
                                        <li><button class="remove" value={{_id}}>(-)</button> {{title}} {{printSeasonEpisode this}}</li>
                                    {{/ifDay}}
                                {{/each}}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {{#each movies}}
                                    {{#ifDay this.day "Sunday"}}
                                        <li><button class="remove" value={{_id}}>(-)</button> {{title}} {{printSeasonEpisode this}}</li>
                                    {{/ifDay}}
                                {{/each}}
                            </ul>
                        </td>

                    </tr>


                </table>
            {{/if}}
        </div>
    </div>


    <form method="POST" action="/add" class="stylizeForm">
        <legend>ADD</legend>
        <label for="showTitle">Show's Title:</label>
        <input type="text" id="showTitle" name="showTitle" required>
        <br>


        <label for="showWeekday">Day: </label>
        <select name="showWeekday" id="showWeekday">
            <option value="Monday" id="monday" required>Monday</option>
            <option value="Tuesday" id="tuesday">Tuesday</option>
            <option value="Wednesday" id="wednesday">Wednesday</option>
            <option value="Thursday" id="thursday">Thursday</option>
            <option value="Friday" id="friday">Friday</option>
            <option value="Saturday" id="saturday">Saturday</option>
            <option value="Sunday" id="sunday">Sunday</option>
        </select>

        <br>

        <label for="seasonNumber">Season:</label>
        <input type="number" name="seasonNumber" id="seasonNumber">

        <br>

        <label for="episodeNumber">Episode:</label>
        <input type="number" name="episodeNumber" id="episodeNumber">

        <br>
        <input type="submit">
    </form>
</div>
</div>